.come{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150px;
    color: red;
}

.search{
    /* margin-left: 58vw; */
    border: 1px solid black;
    border-radius: 25px;
    padding: 8px 20px;
    
    display: inline;
    
}


.no-outline-input{
    outline: none;
    border: none;
    display: inline;
    background: none;
    width: 150px;
    /* margin: 0px 10px; */
}

.no-outline-button{
    outline: none;
    border: none;
    display: inline;
    background: none;
    /* margin: 0px 10px; */
}

.line{
    display: inline;
}


/* Profile Display Head  */
.head{
    background-color: rgb(211, 211, 211);
    padding: 10px;
    
}

.display{
    background-color: rgb(245, 235, 235);
    padding: 10px;
    margin: 0px 0px 20px 35px;
    border-radius: 5px;
    margin-top: 0px !important; 

}



/* Profile Display Head ends Here  */
.signature{
    text-align: center;
}

.design{
    color: rgb(2, 5, 175);
    font-weight: bold;
    border: 1px solid rgb(1, 83, 1);
    padding: 2px 4px;
    text-align: center;
    margin: 3px 0px;
}

/* Used in Profile index page that returns list of users  */
.workplace{
    font-weight: bold;
}


/* Profile Picture in profile index page  */
.profilePix{
    width: 155px;
    height: 155px;
    border: 1px solid black;
    border-radius: 50%;
    background-image: url(../uploads/profilePics/1636726402.jpg);
    /* margin: 15px; */
}

/* User's container in my profile index  */
.user{
    background-color: white;
    box-shadow: 1px 3px 7px 3px rgb(166, 166, 247);
}